@import "../modules/_global.scss";
body {
  .block-inner .content .simple-horizontal-timeline-wrapper  {
    a:link, a:visited {
      color: $blue;
    }
    a:hover {
      color: $red;
    }
    .cd-horizontal-timeline .events a {
      color:#383838;
    }
    .timeline-content {
      color: #202020;
    }
  }
}
.simple-horizontal-timeline-wrapper {
  background: #fff;
  padding-bottom: 40px;
  padding-top:10px;
  position: relative;

  .timeline-list-link {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
  }
}

.cd-horizontal-timeline {
  .timeline,
  .cd-timeline-item-navigation-wrapper {
    ol, ul, li {
      margin:0;
      padding:0;
      list-style: none;
      list-style-image: none;
    }
  }
  .events-content {
    & > ol,
    & > ol > li,
    & > ul,
    & > ul > li {
       margin:0;
       padding:0;
       list-style: none;
       list-style-image: none;
     }
  }

  padding-bottom: 20px;
  .events a {
    width: 120px;
    padding-left: 5px;
    padding-right:5px;
  }
  .short-title {
    display: none;
  }
}

.cd-horizontal-timeline .timeline-item-wrapper {
  //padding:20px;
}
.cd-horizontal-timeline .timeline-item-wrapper:not(:first-child) {
  padding-top: 0;
}
.cd-horizontal-timeline .timeline-item {
  background-color: #fff;
  margin:10px 0;
  position: relative;
  z-index: 5;
  @include rgbashadow(0,0,20px,#000,.10);
  @include shadowtransition;
  img {
    width:100%;
    height: auto;
    display: block;
  }
  &:hover {
    @include rgbashadow(0,0,25px,#000,.3);
  }
  .timeline-item-content {
    padding:20px;
  }
  h3 {
    //font-size: 130%;
  }
  @media screen and (min-width:768px) {
    h3 {
      //font-size: 180%;
    }
  }
}
.timeline-item {
  img {
    width:100%;
    height: auto;
    display: block;
  }
  .timeline-item-date {
    font-size: 85%;
    margin-bottom: 10px;
  }
}

.events li {
  font-size: 14px;
  text-transform: uppercase;
}
.cd-timeline-view-all {
  text-align: center;
  font-size: 85%;
  position: absolute;
  bottom:20px;
  left:0;
  right:0;
}

.timeline-view-all-wrapper {
  ol, li {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
  }
  .timeline-item {
    margin: 0 0 20px 0;
    padding-bottom: 20px;
    border-bottom:1px solid #d7d7d7;
    img {
      display: none;
    }
  }
}

// Timeline item navigation
.cd-timeline-item-navigation {
  text-align: center;
  font-size:200%;
  li {
    display: inline;
  }
  a {
    display: inline-block;
    padding:0 20px;
  }
}

.no-touch .cd-timeline-item-navigation a:hover {
  border-color: #7b9d6f;
}
.cd-timeline-item-navigation a.inactive {
  cursor: not-allowed;
  color:#aaa;
}

.no-touch .cd-timeline-item-navigation a.inactive:hover {
  border-color: #dfdfdf;
}
